.card-item{
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    border-bottom: 2px solid #c9c9c9;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}